# Git
.git
.gitignore
.gitattributes

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea
.vscode
*.iml
*.ipr
*.iws
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
Dockerfile
.dockerignore
compose.yaml
docker-compose.yml

# GitHub
.github/

# Documentación
README.md
*.md

# Tests
src/test/

